<ion-view title="Administration" id="page4">
    <ion-content padding="true" class="has-header">
        <button id="administration-button7" class="button button-balanced  button-block" ng-click="createNewEvent()">Create New Event</button>
        <button id="administration-button8" class="button button-assertive  button-block" ng-click="listUsers()">Manage Audience Groups</button>
        <button id="administration-manageEvents" class="button button-balanced  button-block" ng-click="manageEvents()">Manage Events</button>
    </ion-content>
</ion-view>