<ion-view title="Create Event" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="createEventForm" class="list">
            <ion-list id="newEvent">
                <label class="item item-input" id="eventName">
          <span class="input-label">Event Name</span>
          <input type="text" placeholder="" ng-model="event.name">
        </label>
                <label class="item item-input" id="eventDesc">
          <span class="input-label">Description</span>
          <textarea ng-model="event.desc"></textarea>
        </label>
            </ion-list>
            <button id="createButton" class="button button-balanced  button-block" ng-click="submitEvent()">Create</button>
        </form>
        <ion-scroll direction="y" style="width: 100%; height: 260px">
            <div class="list">
                <ion-radio class="ion-radio item-icon-right" ng-repeat="data in eventList" ng-value="data" ng-model="event.selectedEvent">
                    {{data.Name}}
                </ion-radio>
            </div>
        </ion-scroll>
        <div class="row">
            <div class="col text-center">
                <button class="button button-assertive" ng-click="deleteEvent()">
                    Delete Event
                </button>
            </div>
            <div class="col text-center">
                <button class="button button-balanced" ng-click="openEvent()">
                    Open event
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>