<ion-view title="Login" id="login_view">
  <ion-content padding="true" class="has-header">
    <form id="login-form2" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login_input_username">
          <input type="text" placeholder="Username">
        </label>
        <label class="item item-input item-stacked-label" id="login_input_password">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <button id="login_button" class="button button-dark  button-block">Log in</button>
      <a href-inappbrowser="/signup" id="login-button3" class="button button-positive  button-block button-clear">Or create an account</a>
      <button id="login_button_google" class="button button-assertive  button-block icon-right ion-social-google">Login With Google</button>
    </form>
    <button id="login_button_facebook" class="button button-positive  button-block icon-right ion-social-facebook">Login With Facebook</button>
  </ion-content>
</ion-view>