<ion-view title="Notifications" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="notifications-list8">
      <ion-item class="item-icon-left" id="notifications-list-item25">
        <i class="icon ion-android-notifications-none"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="notifications-list-item28">
        <i class="icon ion-android-notifications-none"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="notifications-list-item29">
        <i class="icon ion-android-notifications-none"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>