<ion-view title="Polling" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="polling-list-item-container1">
      <div id="polling-markdown2" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">Choose an event to submit your votes</p>
      </div>
    </div>
    <ion-list id="polling-list2">
      <ion-item class="item-thumbnail-left" id="polling-list-item1">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="polling-list-item2">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="polling-list-item3">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>