<ion-view title="Profile" id="page8">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="profile-card22">
            <div id="profile_image" style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body" id="profile-list-item-container6">
                <div id="profile-markdown8" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">Some friendly
                        <strong>markdown</strong>
                    </p>
                </div>
            </div>
        </div>
        <button id="profile-button10" class="button button-positive  button-block">Change Password</button>
        <button id="profile-button11" class="button button-assertive  button-block" ng-click="doLogout()">Logout</button>
    </ion-content>
</ion-view>